Repository lauraedgell33/European-digital-logistics: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, ./logistics-platform/vendor/bin/pint

.lintstagedrc.json:

{
  "logistics-frontend/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "logistics-frontend/**/*.{css,json,md}": ["prettier --write"],
  "logistics-mobile/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "logistics-mobile/**/*.{css,json,md}": ["prettier --write"],
  "logistics-platform/**/*.php": ["./logistics-platform/vendor/bin/pint"]
}

fix: relax ESLint rules, remove unused type imports
  logistics-frontend/.eslintrc.json
  logistics-frontend/src/types/analytics.ts
  logistics-frontend/src/types/orders.ts
  logistics-frontend/src/types/tracking.ts
  logistics-frontend/tsconfig.tsbuildinfo
Due: eslint --fix, prettier --write

fix: guard request() call in bootstrap/app.php exception context for CLI
  logistics-platform/bootstrap/app.php
Due: ./logistics-platform/vendor/bin/pint

fix: remove L5Swagger class reference in config, use string constant
  logistics-platform/config/l5-swagger.php
Due: ./logistics-platform/vendor/bin/pint

fix: remove second L5Swagger class reference at line 102
  logistics-platform/config/l5-swagger.php
Due: ./logistics-platform/vendor/bin/pint

fix: show debug trace in API 500 errors when APP_DEBUG=true
  logistics-platform/bootstrap/app.php
Due: ./logistics-platform/vendor/bin/pint

fix: replace curly apostrophe with escaped quote in AiCopilotController
  logistics-platform/app/Http/Controllers/Api/AiCopilotController.php
Due: ./logistics-platform/vendor/bin/pint

fix: remove static from StatsOverviewWidget heading property
  logistics-platform/app/Filament/Widgets/AiInsightsWidget.php
Due: ./logistics-platform/vendor/bin/pint

feat(admin): Apply Geist design system theme to Filament admin
  logistics-platform/app/Providers/Filament/AdminPanelProvider.php
  logistics-platform/public/css/filament-geist-theme.css
  logistics-platform/resources/css/filament-geist-theme.css
  logistics-platform/resources/views/filament/brand-logo-dark.blade.php
  logistics-platform/resources/views/filament/brand-logo.blade.php
  logistics-platform/resources/views/filament/pages/activity-log.blade.php
  logistics-platform/resources/views/filament/pages/system-health.blade.php
Due: ./logistics-platform/vendor/bin/pint

fix: guard push_subscriptions migration with hasTable check
  logistics-platform/database/migrations/2025_07_15_000001_create_push_subscriptions_table.php
Due: ./logistics-platform/vendor/bin/pint

test: add UI/UX audit tests, fix deploy script for PWA static files
  forge-deploy-frontend.sh
  logistics-frontend/.lighthouseci/lhr-1772361989920.html
  logistics-frontend/.lighthouseci/lhr-1772361989920.json
  logistics-frontend/.lighthouseci/lhr-1772362005572.html
  logistics-frontend/.lighthouseci/lhr-1772362005572.json
  logistics-frontend/e2e/results/noauth-results.json
  logistics-frontend/e2e/ui-ux-audit.spec.ts
  logistics-frontend/package-lock.json
  logistics-frontend/package.json
  logistics-frontend/playwright-noauth.config.ts
Due: eslint --fix, prettier --write

fix: update composer.lock with missing packages (scout, elasticsearch, sentry)
  logistics-platform/composer.lock
Due: none

fix: make backend resilient to missing Redis/Elasticsearch
  forge-deploy-backend.sh
  logistics-platform/app/Http/Middleware/CacheResponse.php
  logistics-platform/app/Http/Middleware/RateLimitMiddleware.php
  logistics-platform/app/Http/Middleware/TrackPerformance.php
  logistics-platform/config/scout.php
Due: ./logistics-platform/vendor/bin/pint

fix: resolve Reverb driver crash and add missing Stripe dependency
  logistics-platform/composer.json
  logistics-platform/composer.lock
  logistics-platform/config/broadcasting.php
  logistics-platform/config/reverb.php
Due: ./logistics-platform/vendor/bin/pint
